.example-grid {
	width: 100%;
	border-collapse: collapse;
}

.example-grid tr {
	border-bottom: 1px solid #e0e0e0;
}

.example-grid td {
	padding: 8px;
	vertical-align: top;
}

.example-grid .label {
	width: 10%;
	text-align: right;
	font-weight: bold;
}

.example-grid .content {
	width: 90%;
}
