
[data-theme="dark"] .termTable {
  table, tbody tr, td {
    background-color: transparent;
    border: none;
    line-height: 75%;
  }
}

[data-theme="light"] .termTable {
  table, tbody, tr, td {
    background-color: transparent;
    border: none;
    line-height: 75%;
  }
}

.termColumn {
  text-align: right;
}

.definitionColumn {
  text-align: left;
}
