
[data-theme="dark"] .termTable {
  table, tr, td {
    border: none;
    line-height: 50%;
    border-collapse: collapse;
    background-color: transparent;
  }
}

[data-theme="light"] .termTable {
  table, tr, td {
    border: none;
    line-height: 50%;
    border-collapse: collapse;
    background-color: transparent;
  }
}

.termColumn {
  font-weight: bold;
  text-align: right;
}

.definitionColumn {
  text-align: left;
}
